obj/
debian/libmbcoreutils*
debian/files
debian/*install
debian/mb-*
debian/tmp
debian/*debhelper*
debian/*substvars*
*~

.sconsign.dblite

*.swp
*.pyc

# birdwing autogen
birdwing/machine_errors.py
birdwing/toolhead_errors.py
include/bwcoreutils/all_errors.hh
include/bwcoreutils/machine_errors.hh
include/bwcoreutils/toolhead_errors.hh
include/bwcoreutils/bot_error.hh
include/bwcoreutils/tool_mappings.hh
.build-host/
.build-cross/
.build-dev/
error_translations.zip

# makerbot cmake folders
_build
_build64
_build_debug
