Source: libmbcoreutils-dev
Section: libdevel
Priority: extra
Maintainer: MakerBot Industries dev team <dev@makerbot.com>
Build-Depends: debhelper (>= 8.0.0), cdbs, scons
Standards-Version: 3.9.2

Package: libmbcoreutils-dev
Section: libdevel
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: MakerBot core utils development headers

Package: mb-libstdc++6
Section: lib
Architecture: any
Depends:
Description: MakerBot distribution specific package for non-standard c++ runtime
